/**
*
*
*
* 
*
**/

/* cell size replaced by dynamic size, that CSS is generated inside the JS code */
$cell-size: 0.25em;

$cell-live-color: white;
$cell-dead-color: #222;
$body-margin: 0.5em;

$cell-matrix-size: 40em;
$cell-matrix-border-width: 5px;
$button-group-height: 1.2em;

#title-text {
	/*background-color: yellow;*/
	
	font-size: 1em;
	@media (min-aspect-ratio: 10/11) {
		@media (max-height: 40em + 10em) {
			display: none;
		}
	}
	font-size: 1.8em;
}



.life-cell {
	display: inline-block;
	padding: 0;
	margin: 0;
	vertical-align: top;
	/* width is calculated as a percentage by the JS code */
	height: 100%;
}

body {
	margin: $body-margin;
	background-color: #F44;
	@media (min-aspect-ratio: 1/1) { 
		/* background-color: blue; */
	}
	text-align: center;
} 

#main {
	display: inline-block;
}


.button-group {
	height: $button-group-height;
	button {
		text-align: center;
		width: ( 100% / 5 );
	}
}


.life-cell {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cell-alive {
	background-color: $cell-live-color;
}

.cell-dead {
	background-color: $cell-dead-color;
}

.life-cell-row {
	margin: 0;
	padding: 0;
	display: block;
}

#cell-field {
	width: $cell-matrix-size;
	height: $cell-matrix-size;
	text-align: center;
	display: inline-block;
	border: $cell-matrix-border-width solid black;
	background-color: $cell-dead-color;
	
	/* fix the max width/height to avoid scroll bar appearing */
	/* max-width: calc(100% - ( 2 * ( #{$cell-matrix-border-width} ))); */
	/* get a better `other-stuff` value */
	$other-stuff: 3em;
	max-width: calc(100vw - ( 2 * ( #{$cell-matrix-border-width} + #{$body-margin} )));  
	max-height: calc(100vw - ( 2 * ( #{$cell-matrix-border-width} + #{$body-margin} ))); 
	@media (min-aspect-ratio: 10/11) { 
		max-height: calc(100vh - ( 2 * ( #{$cell-matrix-border-width} + #{$body-margin})) - #{$other-stuff}); 
		max-width: calc(100vh - ( 2 * ( #{$cell-matrix-border-width} + #{$body-margin})) - #{$other-stuff}); 
	
	}
	
}


	

